//
// Progress bars
// --------------------------------------------------


// Bar itself
// -------------------------

// Outer container
.progress {
  box-shadow: none;
}

// Bar of progress
.progress-bar {
  text-align: right;
  text-shadow: none;
  box-shadow: none;
}

// Striped bars
.progress-striped .progress-bar {
  .background-size(12px 12px);
}
